<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for message in messages %}
<div class="messages">
    <p>{{message}}</p>
</div>
{% endfor %}

<form method="POST" action="">
	{% csrf_token %}
    <div class="form-row">
    <label for="username">Username</label>
	<input type="text" name="username">
    <label for="password">Password</label>
	<input type="password" name="password">
        <div class="login-button">
            <input type="submit" value="Login">
        </div>
    </div>
</form>



</body>
</html>