{% extends "base_templates/base.html" %}

{% block title %} SPACE API | Sign UP {{movie_name}} {% endblock %}

{% block script %}

{% endblock %}


{% block style %}

{% endblock %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="form-row">
    <label for="username">Username</label>
    {{form.username}}
    <label for="email">Email address</label>
    {{form.email}}
    <label for="password1">Password</label>
    {{form.password1}}
    <label for="password2">Repeat password</label>
    {{form.password2}}
        <div class="register-button">
            <input type="submit" value="Sign Up">
        </div>
    </div>
</form>


{% endblock %}
